{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid max-width">
        <div class="row">
            <div class="col-12">
                <h3 class="mt-3">Top 20 names for {{ year }} starting with letter "{{ currentLetter|upper }}"</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="list-inline mt-3">
                    {% for letter in letters %}
                        <li class="list-inline-item">
                            <a href="{{ path('app_default_namesforletter', {letter: letter}) }}" class="">{{ letter|upper }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            {% for gender,names in result %}
                <div class="col-12 col-md-6">
                    <h3 class="mt-3">{{ gender|lower == 'm' ? 'Male' : 'Female' }} names</h3>
                    <table class="table">
                        <tr>
                            <th>Overall Rank</th>
                            <th>Count</th>
                            <th>Name</th>
                        </tr>
                        {% for name in names %}
                            <tr>
                                <td>{{ name.rank }}</td>
                                <td>{{ name.count }}</td>
                                <td>{{ name.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

