<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Baby names!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid max-width">
            <nav>
                <a href="{{ path('app_default_index') }}" class="mr-2">Graph of names</a>
                <a href="{{ path('app_default_topnames', {gender: 'm'}) }}" class="mr-2">Top male names</a>
                <a href="{{ path('app_default_topnames', {gender: 'f'}) }}" class="mr-2">Top female names</a>
            </nav>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
